PORT=3000
JWT_SECRET=nhamay-pmkiemke-secret-change-me
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=pmkiemke
DATABASE_PASSWORD=pmkiemke
DATABASE_NAME=pmkiemke
# true/1/yes/on = bật sync schema; false/0/no/off = tắt
# (alias: DATABASE_SYNC)
TYPEORM_SYNCHRONIZE=true
